{% extends 'moviereviews/_blank.html' %}
{% block title %}
    Browse
{% endblock %}



{% block page-content %}
    <h1 class="h3 mb-4 text-gray-800">Browse</h1>
    <div class="container-fluid">
        <div class="row">
            {% for review in reviews %}
            <div class="container">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{{review.movie}} - reviewed by {{review.user}}</h6>
                    </div>
                    <div class="card-body">
                        {{review.description}}
                        <br><br>
                        {{review.date}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{%endblock%}
