{% extends 'moviereviews/_blank.html' %}
{% load static %}
{% block title %}
    My Reviews
{% endblock %}
{% block page-title %}
    <h1 class="h3 mb-4 text-gray-800 my-auto">My Reviews</h1>
{% endblock page-title %}
{% block page-content %}
 <!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Movie</th>
                        <th>User</th>
                        <th>Rating</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Movie</th>
                        <th>User</th>
                        <th>Rating</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </tfoot>
                <tbody>
                {% for review in reviews %}
                    <tr>
                        <th>{{review.movie}}</th>
                        <th>{{review.user}}</th>
                        <th>{{review.rating}}</th>
                        <th>{{review.date}}</th>
                        <th><a href="{% url 'edit-review' review.id %}">Edit</a></th>
                        <th>
                            <form type="post">
                                <input hidden id="review_id" name="review_id" value="{{review.id}}"/>
                                <input type="submit" value="Delete"/>
                            </form>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{block.super}}
{%endblock%}