{% extends 'moviereviews/_blank.html' %}
{% load static %}
{% block title %}
    Create New Review
{% endblock %}
{% block page-title %}
    <h1 class="h3 mb-4 text-gray-800 my-auto">Create New Review</h1>
{% endblock page-title %}

{% block page-content %}
    <div id="new_review_form">
        <form method="post">
        {% csrf_token %}
            <div class="form-grid">
                <label for="movie">Enter Movie Title: </label>
                <input id="movie" type="text" name="movie" class="form-control form-control-user"/> <br>
                <div>Enter Movie Rating:</div>
                <fieldset class="rating" id="rating" name="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value=".5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <label for="description">Type Review Here: </label>
                <textarea id="description" name="description" class="form-control form-control-user">Enter text here...</textarea>
                <button type="submit" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check">
                        </i>
                    </span>
                    <span class="text">Save Review</span>
                </button>
            </div>
        </form>


    </div>

{{block.super}}
{%endblock%}