{% extends 'moviereviews/_blank.html' %}
{% load static %}
{% block title %}
    Create New Review
{% endblock %}

{% block page-content %}
    <h1 class="h3 mb-4 text-gray-800">Create New Review</h1>
    <div id="new_review_form">
        <form method="post">
        {% csrf_token %}
            <label for="movie">Enter Movie Title: </label>
            <input id="movie" type="text" name="movie"/> <br>
            <label for="rating">Enter Movie Rating (1-10): </label>
            <input id="rating" type="range" min="0" max="10" name="rating"/> <br>
            <label for="description">Type Review Here: </label><br>
            <textarea id="description" name="description">Enter text here...</textarea> <br>
            <input type="submit" value="Save Review">
        </form>


    </div>

{{block.super}}
{%endblock%}