{% extends 'moviereviews/_blank.html' %}
{% load static %}
{% block title %}
    Review
{% endblock %}

{% block page-content %}
    <div class="container">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{review.movie}}</h6>
            </div>
            <div class="card-body">
                <p>Rating: {{review.rating}}/5</p>
                {{review.description}}
                <br>
                <p>By {{review.user}}</p>
                <br>
                {{review.date}}
            </div>
        </div>
    </div>

{{block.super}}
{%endblock%}